<div class="TC_createDepot">
    <div class="TC_fleetInfoGraph">
        <img src="/images/ic_fleet.png" />
        <label>Fleet Section</label>
    </div>
    <div class="TC_info">
        <i></i>
        IMPORTANT: Once you add first vehicle, you can clone and add more vehicles. If you need any help, please contact TripCenter supplier support team.
    </div>
    <div class="TC_contact">
        <div class="TC_email">
            <img src="/images/ic_email.png" />
            <a href="mailto:support@tripcenter.net">support@tripcenter.net</a>
        </div>
        <div class="TC_separate">
            <div class="line"></div>
            <label>Or</label>
        </div>
        <div class="TC_phone">
            <img src="/images/ic_phone.png" />
            <a href="tel:+4402035002300">+44 (0) 20 3500 2300</a>
        </div>
    </div>
    <div class="TC_actions">
        <input type="button" class="actBtn btn-blue" value="Add a Vehicle" />
    </div>
</div>