<div class="TC_topMenu">
    <div class="TC_topMenuLeft">
        <img src="/images/TopMenuIcons/Menu.png" />
        <span>{{pageName}}</span>
    </div>
    <div class="TC_topMenuRight">
        <span class="TC_userName">  Welcome, {{loginUserName}}</span>
        <ul>
            <li><img src="/images/TopMenuIcons/Logout.png" /></li>
            <li><img src="/images/TopMenuIcons/Message.png" /></li>
            <li><img src="/images/TopMenuIcons/Notifications.png" /></li>
            <li><img src="/images/TopMenuIcons/Help.png" /></li>
        </ul>
    </div>
</div>