@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}

.smallText {
    font-size: 12px;
}

.TC_amContainer {
    width: 1170px;
    margin: auto;
    position: relative;
}

button,
input,
select,
textarea {
    padding: 5px;
    border: 1px solid #c8cbcf;
    border-radius: 3px;
}


em {
    text-align: center;
    line-height: 1.6;
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    font-weight: normal;
    border: 1px solid #c8cbcf;
    display: inline-block;
    color: #c8cbcf;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
}

span.close em {
    line-height: 1.2;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px;
    font-style: normal;
}

.Account_Mangementpg {
    width: 1170px;
    margin: auto;
}

    .Account_Mangementpg a {
        color: #afafaf;
        text-decoration: underline;
        margin: 2px 0 0 10px;
        float: left;
    }


.AM-formbody input[type=radio] {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    top: 6px;
    background-color: #fff !important;
}


.AM-formbody label {
    margin-right: 15px;
    font-weight: normal;
    color: #000;
    font-size: 16px;
}

.AM-formbodybody h3 i {
    float: right;
    cursor: pointer;
}

.AM-formbodybody h4 em {
    display: inline-block;
}

.AM-formbodybody h4 {
    margin: 30px 0 25px 0;
}


.Upload_file {
    text-align: center;
    border: 1px dashed #1891c4;
    padding: 90px 0 100px 0;
    color: #898a8c;
    font-size: 12px;
    margin-bottom: 15px;
}

    .Upload_file span {
        display: block;
    }


    .Upload_file img {
        width: 120px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .Upload_file a {
        float: none;
        font-size: 14px;
        margin-left: 2px;
        color: #1891c4;
        font-weight: bold;
    }

.Upload_file_controls {
    display: inline-block;
    float: right;
}

    .Upload_file_controls a {
        cursor: pointer;
        text-decoration: none;
        color: #128ec2;
    }

        .Upload_file_controls a:first-child {
            padding-right: 10px;
            padding-left: 10px;
            border-right: 1px solid #c8cbcf;
        }

        .Upload_file_controls a:hover {
            cursor: pointer;
            text-decoration: none;
            color: #Fd7f10;
        }

.Expdateoption p {
    padding-top: 20px;
    margin: 0;
    font-size: 15px;
    clear: both;
    color: #646569;
}

.Expdatecal {
    padding: 20px 0 30px 0;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    /*overflow: auto;*/
}



.Users_gridtable p:first-child {
    margin: 0 0 10px;
    padding: 10px 0;
    background-color: #e7f3f9;
    border: 1px solid #c7e4f1;
    border-radius: 3px;
    color: #646569;
}

    .Users_gridtable p:first-child em {
        margin-right: 10px;
        border: 1px solid #6c6d71;
        color: #6c6d71;
    }

.Users_gridtable h3 span:first-child a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    float: none;
}

.Users_gridtable h3 span:first-child {
    padding: 10px 0;
    background-color: #1178a4;
    padding: 15px 25px;
    background-color: #1178a4;
    border-radius: 5px;
    position: relative;
    top: -11px;
}



.Expdatecal input.form-control, .Coverage_amount input.form-control {
    width: 35%;
    height: auto;
    border-radius: 3px;
    padding: 12px !important;
    border: 1px solid #c8cbcf !important;
    border-radius: 3px;
}

.Coverage_amount {
    padding-bottom: 30px;
    /*border-bottom: 1px solid #e1e1e1;*/
    margin-top: 25px;
}

    .Coverage_amount span {
        background-color: #edeff5;
        color: #4a4a4a;
        padding: 12px 20px;
        display: inline-block;
        float: left;
        border: 1px solid #c8cbcf;
        border-right: none;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .Coverage_amount label {
        display: block;
    }

.companylogo_form h4 span {
    color: #afafaf;
}

.companylogo_form {
    margin-bottom: 100px;
}

.AlertMsg {
    background-color: #e7f3f9;
    padding: 10px;
    border: 1px solid #c7e4f1;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 5px;
    color: #38393c;
    overflow: auto;
}

    .AlertMsg em {
        float: left;
        margin: 0 10px 0 0;
        border: 1px solid #6c6d71;
        color: #6c6d71;
    }

    .AlertMsg span {
        float: right;
        font-weight: normal;
        cursor: pointer;
    }


.MemShip_Info h3 em {
    display: inline-block;
}


.MemShip_Info a {
    float: right;
    color: #000;
    text-decoration: underline;
    font-size: 15px;
}

.AM-formbody {
    border-radius: 3px;
    width: 980px;
    margin: 0 auto;
    position: relative;
}


    .AM-formbody h3 i, h2.h2-header i {
        float: right;
        cursor: pointer;
        font-size: 24px;
        color: #128ec2;
        font-weight: bold;
    }

.form-group {
    position: relative;
}

    .form-group label {
        position: absolute;
        top: 13px;
        left: 12px;
        right: 0;
    }

    .form-group input:focus ~ label {
        position: absolute;
        top: 2px;
        color: #128ec2
    }

    .form-group input:focus {
        border: 1px solid #128ec2 !important;
    }

        .form-group input:focus ~ div {
            display: none;
        }


.AM-formbody .form-group label {
    font-weight: normal;
    font-size: 15px;
    color: #b2b4bb;
    pointer-events: none;
}


.form-group label + div {
    border-left: 1px solid #c8cbcf;
    position: absolute;
    top: 13px;
    right: 10px;
    display: block;
}

.AM-formbody .form-group {
    margin: 15px 0 10px 0 !important;
}

    .AM-formbody .form-group em::before {
        content: "|";
        font-size: 10px;
        position: absolute;
        left: -12px;
        top: 0px;
        font-style: normal;
    }

    .AM-formbody .form-group em {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 15px;
        padding: 2px;
        top: 14px;
        text-align: center;
        width: 16px;
        height: 16px;
        line-height: 11px;
        vertical-align: middle;
        font-style: normal;
        font-size: 10px;
    }

    .AM-formbody .form-group input.form-control,
    .AM-formbody .form-group select.form-control {
        height: auto;
        border-radius: inherit;
        padding: 20px 12px 6px 15px;
        border: 1px solid #ced1d9;
        border-radius: 3px;
    }

    .AM-formbody .form-group a {
        float: right;
        position: relative;
        right: 25px;
        color: #5c5d61;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        top: -36px;
    }

.MemShip_Info h3 em {
    display: inline-block;
}

.MemShip_Info span {
    font-weight: normal;
}

.MemShip_Info a {
    float: right;
    color: #000;
    text-decoration: underline;
    font-size: 15px;
}


.footer_part {
    padding: 20px 0;
    /*border-top: 1px solid #e1e1e1;*/
    margin-top: 40px;
}

    /*.Supplierfooter {
    width: 1280px;
}*/

    .footer_part span {
        display: inline-block;
        float: left;
        font-size: 15px;
        cursor: pointer;
    }

        .footer_part span span.dot {
            float: none;
            font-size: 18px;
            font-weight: bold;
            position: relative;
            top: -4px;
        }

    .footer_part p {
        text-align: right;
    }

.Content_body h2 {
    background-color: #e1e1e1;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    font-size: 21px;
}

    .Content_body h2 i.fa-check-circle {
        padding-right: 15px;
    }

    .Content_body h2 i.fa-angle-down, .Content_body h2 i.fa-angle-up {
        float: right;
        font-weight: bold;
    }

.Content_body .Documents_Formbody {
    margin: 0 100px;
}

.Documents_Formbody em {
    display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
}

.Documents_Formbody h3 {
    position: relative;
    top: 35px;
    left: 20px;
}

.Select_type {
    clear: both;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid #e1e1e1;
}

    .Select_type span {
        float: left;
        display: inline-block;
        font-size: 18px;
    }

    .Select_type p {
        text-align: right;
        font-size: 18px;
    }



.AM-formbodybody h3 i {
    float: right;
    cursor: pointer;
}





.AM-formbody label {
    margin-right: 15px;
    font-weight: normal;
    color: #3b3c3e;
}



.AM-formbodybody h3 i {
    float: right;
    cursor: pointer;
}

.Expdatecal label {
    font-size: 16px;
    color: inherit;
}

.Expdatecal i {
    position: absolute;
    top: 60px;
    left: 200px;
    font-size: 18px;
    cursor: pointer;
}

.ExpDat i {
    top: 43px;
}

.ExpDat img {
    top: 11px !important;
}


.Expdatecal input.form-control {
    width: 230px;
    height: auto;
    border-radius: inherit;
    padding: 12px !important;
    border: 1px solid #c8cbcf !important;
    border-radius: 3px;
}

.Expdatecal span {
    border: 1px solid #c8cbcf;
    padding: 3px;
    position: absolute;
    top: 66px;
    left: 30%;
    cursor: pointer;
}


.Coverage_amount label {
    display: block;
}



.Expdatecal label, .Coverage_amount label {
    font-size: 16px;
    color: #4a4a4a;
}

.Coverage_amount input.form-control {
    border-left: none;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    width: 30%;
}

.ExpDat {
    border-bottom: none;
    display: inline-block;
    float: left;
    width: 230px;
    margin: 25px 30px 0 0;
    padding: 0;
}

    .ExpDat input.form-control {
        width: 100%;
    }

.NotificationSettings_gridView h3 a {
    float: right;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    text-shadow: none;
    position: relative;
    top: -17px;
    margin-left: 20px;
}

.NotificationSettings_gridView h3 p {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    padding-top: 5px;
}

.NotificationSettings_tablerows {
    padding: 0 20px;
    border-bottom: 1px solid #e1e1e1;
    overflow: auto;
    background-color: #fbfcfd;
}

    .NotificationSettings_tablerows span {
        display: inline-block;
        float: left;
        width: 246px;
        padding: 13px 0;
        font-size: 15px;
    }

        .NotificationSettings_tablerows span h3 {
            margin: 0;
            border-bottom: none;
            padding-bottom: 0;
            font-size: 15px;
        }


.Dashboard_btn {
    margin: 30px 0;
    background-color: #e1e1e1;
    padding: 50px 0;
    text-align: center;
}

    .Dashboard_btn a {
        padding: 20px 40px;
        background-color: #4a4a4a;
        color: #fff;
        border-radius: 3px;
        text-decoration: none;
        font-weight: bold;
        float: none;
    }

.footerlinks {
    /*width: 1170px;*/
    margin: 0 auto;
    position: relative;
}


.NotificationSettings_tablerows span select.form-control {
    width: 80%;
    padding: 9px 7px;
    height: auto;
}

.Edit_NotificationSettings .NotificationSettings_tablerows span {
    padding: 10px 0;
}

.Edit_NotificationSettings {
    height: auto;
}

.NotificationSettings_gridView h3 a {
    padding: 10px 20px;
    background-color: #1178a4;
    color: #fff;
    text-decoration: none;
    border: 1px solid #1178a4;
    border-radius: 3px;
    font-weight: bold;
}

    .NotificationSettings_gridView h3 a:last-child {
        background-color: #eceef1;
        border: 1px solid #d4d6de;
        color: #4a4a4a;
    }

.NotificationSettings_tablerows:first-child {
    background-color: #edeff5;
    margin-top: 20px;
}

.userGridview h3 {
    display: inline-block;
    margin: 0;
}

.userGridview a {
    float: right;
    font-size: 18px;
    text-decoration: underline;
    color: #4a4a4a;
}


.Addnewuser_form h4, .Newuser_details h4 {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}

.Addnewuser_form .form-control, .Newuser_details .form-control {
    height: auto;
    border-radius: inherit;
    padding: 12px !important;
    border: 1px solid #c8cbcf !important;
}

.Addnewuser_form label, .Newuser_details label {
    font-weight: normal;
    font-size: 15px;
    color: #4a4a4a;
}

.modal-content span a {
    padding: 12px 15px;
    background-color: #1178a4;
    border: 1px solid #1178a4;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.modal-content span {
    /*display: block;
    margin: 30px auto 0 auto;
    text-align: right;*/
    font-size: 12px;
}

    .modal-content span a:first-child {
        background-color: #edeef2;
        border: 1px solid #edeef2;
        color: #4a4a4a;
    }

    .modal-content span.close {
        margin: 0;
        opacity: inherit;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    box-shadow: none;
    border-radius: 5px;
}

#listofbody .MemShip_Info, .Content_body .MemShip_Info {
    margin-bottom: 0;
}

.Documents_Formbody .AM-formbody {
    margin: 0;
}

.AM-formbodybody .Coverage_amount {
    border-bottom: none;
}

.AM-formbodybody .Trading_Lience .Upload_file em {
    display: block;
    float: none;
}

.Buttons {
    /*background-color: #edeef2;*/
    width: 100%;
    overflow: auto;
    padding: 40px 40px 40px 0;
    text-align: right;
    float: none;
    margin: 40px 0;
    border-top: 1px solid #d4d6de;
}

    .Buttons span a, .Buttons a {
        display: inline-block;
        text-align: center;
        width: 180px;
        border: 1px solid #4a4a4a;
        border-radius: 3px;
        padding: 15px 0;
    }

    .Buttons a {
        background-color: #01a458;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        margin-left: 15px;
        float: none;
        border: 1px solid #01a458;
    }

    .Buttons span a {
        color: #646569;
        text-decoration: none;
        background: none;
        width: 120px;
        font-weight: bold;
        border: 1px solid #d4d6de;
        background-color: #edeff5;
    }

.HC-content-body {
    width: 980px;
    margin: 0 auto;
    padding-top: 60px;
}

.HC-leftPart a {
    display: block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
}

.HC-leftPart {
    float: left;
    display: inline-block;
    width: 235px;
}

.HC-rightpart h4 {
    margin: 0 0 30px 0;
    font-size: 15px;
    font-weight: bold;
    color: #9b9b9b;
}

.HC-rightpart {
    display: inline-block;
}

.HC-suggestedTopics {
    padding-bottom: 30px;
}



    .HC-suggestedTopics h4, .HC-suggestedTopics h4 i {
        color: #4a4a4a;
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }

        .HC-suggestedTopics h4 i {
            float: right;
            position: relative;
            right: 10%;
        }

    .HC-suggestedTopics p {
        padding: 15px 0 0 0;
        font-size: 16px;
    }

    .HC-suggestedTopics:nth-child(3) {
        border-bottom: 1px solid #e1e1e1;
    }

    .HC-suggestedTopics:nth-child(4) {
        margin-top: 30px;
    }

.HC_pagebody h1 {
    text-align: center;
    font-size: 34px;
}

.HC_pagebody input.form-control {
    max-width: 50%;
    margin: 0 auto;
    height: 70px;
    margin-top: 30px;
    border: 1px solid #c8cbcf;
    border-radius: 3px;
}

.HC_pagebody {
    padding: 50px 0;
    border-bottom: 1px solid #e1e1e1;
}

.TopHeader h1 {
    background-color: #e1e1e1;
    padding: 30px 40px;
    margin: 0;
    font-size: 24px;
}

.main_body hr {
    border-top: 1px solid #acaeb5 !important;
}


.steps {
    margin: 40px 0;
}

h3.h3-header {
    text-transform: uppercase;
    padding: 20px 0;
    margin: 0;
    color: #37383a;
    font-size: 14px;
    text-shadow: 0 2px 0 #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #ced1d9;
    font-weight: bold;
}

h3.popheader {
    text-align: center;
    padding: 25px 0;
    background-color: #edeff5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.h3-header span {
    color: #686969;
    font-weight: normal;
    /*font-style: italic;*/
}


.AM-item h4 {
    margin: 25px 0 10px 0;
    /*border-bottom: 1px solid #d4d6de;*/
    padding-bottom: 10px;
    font-size: 14px;
    color: #646569;
    font-weight: bold;
}


    .AM-item h4 span {
        width: 20px;
        border-left: 1px solid #d4d6de;
        margin-left: 10px;
    }


.Users_gridtable span {
    float: right;
    font-size: 14px;
    font-weight: bold;
}

    .Users_gridtable span em {
        text-shadow: none;
        color: #4a4a4a;
        font-size: 19px;
        line-height: inherit;
        border: 1px solid #4a4a4a;
    }

    .Users_gridtable span a {
        float: none;
        font-style: normal;
        text-decoration: none;
        /* font-size: 14px; */
        text-shadow: none;
        color: #4a4a4a;
    }

.Users_gridtable h3.h3-header {
    margin-bottom: 10px;
    border-bottom: 0;
}

.Users_gridtable table tr {
    border-bottom: 1px solid #edeff5;
}

    /*.Users_gridtable table tr:nth-child(even) {
        background-color: #fbfcfd;
    }*/

    .Users_gridtable table tr td,
    .Users_gridtable table tr th {
        padding: 15px;
        text-align: left;
        white-space: nowrap;
    }

    .Users_gridtable table tr th {
        border-right: 1px solid #d4d6de;
    }

        .Users_gridtable table tr th:last-child {
            border-right: 0;
        }

    .Users_gridtable table tr:first-child {
        border-bottom: 1px solid #d4d6de;
        padding: 10px 20px;
        background-color: #edeff5;
    }

    .Users_gridtable table tr th {
        color: #5c5d61;
    }

        .Users_gridtable table tr th span {
            border-left: 1px solid #d4d6de;
            /* width: 9px; */
            height: 30px;
            position: relative;
            top: 1px;
            margin-right: 5px;
        }

        .Users_gridtable table tr th:last-child span {
            border-left: none;
        }

    .Users_gridtable table tr td a {
        float: right;
        color: #646569;
        text-decoration: none;
        font-weight: bold;
    }

.Users_gridtable table, .Users_gridtable table tbody {
    width: 100%;
}

.currency-dtls h4 {
    margin: 0;
    padding: 5px 20px 5px 0;
    border-bottom: none;
    font-weight: bold;
}

.currency-dtls div {
    display: inline-block;
    float: left;
    border-right: 1px solid #d4d6de;
    width: 130px;
}

.currency-dtls span {
    float: left;
    display: inline-block;
    padding-left: 20px;
    font-size: 12px;
    width: 75%;
    color: #5c5d61;
}

    .currency-dtls span b {
        display: block;
        color: #303133;
        font-size: 14px;
    }



.currency-dtls {
    border-bottom: 1px solid #d4d6de;
    overflow: auto;
    padding-bottom: 15px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.Account_dtls .AlertMsg em:first-child {
    margin-right: 10px;
    float: left;
}

.AlertMsg p {
    margin: 0;
    float: left;
    color: #4a4a4a;
}

.Account_dtls .AlertMsg em:last-child {
    float: right;
}

.Account_dtls .AlertMsg em {
    font-weight: bold;
    border: 1px solid #4a4a4a;
}

.Account_dtls .row {
    margin-right: -15px;
    margin-left: -15px;
}

.Notification-Settings span a {
    float: right;
    color: #4a4a4a;
    text-shadow: none;
    text-decoration: none;
    font-size: 15px;
}

.Notification-Settings table tr td, .Notification-Settings table tr th {
    width: 310px;
}

.AM-popup-formbody {
    width: auto;
    padding: 10px 40px;
}

    .AM-popup-formbody span a {
        float: none;
    }


h2.h2-header {
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 40px 30px 40px;
    font-weight: bold;
    border-bottom: 1px solid #d4d6de;
}

.AccountMangement-formView {
    border-bottom: 1px solid #d4d6de;
    overflow: auto;
    padding-bottom: 20px;
}

.fleetbtn {
    padding: 40px 0;
    text-align: center;
}

    .fleetbtn a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        float: none;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        float: none;
        padding: 15px 25px;
        background-color: #1178a4;
        border-radius: 3px;
    }

.conformation_popup {
    width: 550px;
    margin: 50px auto;
}

    .conformation_popup img {
        width: 100%;
    }

.conformation_content {
    padding: 0 20px;
}

    .conformation_content span {
        text-align: center;
        margin-top: -49px;
        display: block;
        margin-bottom: 20px;
    }

        .conformation_content span i {
            display: block;
            font-size: 100px;
            color: #029952;
        }

        .conformation_content span b {
            font-size: 20px;
        }

    .conformation_content .email_support img, .phone_support img {
        width: 20%;
        margin-bottom: 10px;
        cursor: pointer;
    }

.email_support, .phone_support {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin: 30px 0;
}

.or_lbl {
    width: 5%;
    display: inline-block;
    color: #646569;
}

.phone_support {
    width: 44%;
}

.or_lbl span {
    position: relative;
    border-top: 1px solid #c8cbcf;
    transform: rotate(90deg);
    top: -22px;
    right: 10px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.email_support p a, .phone_support p {
    color: #4a4a4a;
    font-size: 16px;
    text-decoration: none;
}

.conformation_content > p {
    padding: 0 43px;
    color: #646569;
}

.FleetBtn {
    background-color: #eeeff3;
}

.conformation_popup > div {
    border-bottom: 1px solid #c8cbcf;
}

.FleetBtn a {
    background-color: #01a458;
    border: 1px solid #01a458;
}

.progress-bar {
    background-color: #40a44a;
    position: absolute;
    bottom: 0;
}

.logo h1 {
    margin: 25px 0;
}

    .logo h1 img {
        cursor: pointer;
    }

    .logo h1 span {
        float: right;
        display: inline-block;
    }

.Expdatecal input[type=text] {
    position: relative;
}

.Expdatecal img {
    position: absolute;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 31px;
    left: 200px;
}

/*.Users_gridtable {
    width: 980px;
}*/
table.textAlignLeft tr td, table.textAlignLeft tr td span {
    text-align: left;
}

@media only screen and (max-width: 1280px) {
    .currency-dtls div {
        border-right: none;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .Users_gridtable {
        width: 800px;
    }
}

@media only screen and (max-width: 992px) {
    .AM-formbody span.typo_company span {
        display: block;
        padding: 0 40px;
    }

    .ExpDat {
        display: block;
        float: none;
    }

    .Coverage_amount input.form-control {
        width: 184px;
    }

    .AlertMsg p {
        width: 70%;
    }

    .AM-formbody {
        width: auto;
        padding: 0 30px 30px 30px;
    }

    .Users_gridtable {
        width: auto;
    }

    .Notification-Settings {
        width: auto !important;
    }
}

@media only screen and (max-width: 767px) {
    .footerlinks {
        text-align: center;
    }

    .footer_part span {
        padding-bottom: 5px;
        float: none;
    }

    .footer_part p {
        text-align: inherit;
    }

    .conformation_popup {
        width: 70%;
    }
}

@media only screen and (max-width: 480px) {
    .AM-formbody {
        margin: 0 30px 50px 30px;
    }
}

.margin_top_5 {
    margin-top: 5px;
}

.grey_backgroud {
    background-color: #edeef2;
}

.Buttons b {
    float: left;
    margin: 17px 0 0 50px;
    color: #646569;
}



.popcontent .Buttons {
    margin: 0;
    padding: 20px 15px;
    background-color: #edeef2;
}

    .popcontent .Buttons a {
        width: auto;
        padding: 10px 20px;
        background-color: #1178a4;
        border: 1px solid #1178a4;
    }

        .popcontent .Buttons a:first-child {
            background-color: #edeff5;
            border: 1px solid #d4d6de;
            color: #646569;
        }

.AM-popup-formbody h3.h3-header {
    font-size: 15px;
}

.paymentdls .AlertMsg {
    margin-bottom: 20px;
}

.paymentdls {
    padding-bottom: 0;
}

.Notification-Settings {
    width: 750px;
}

.Edit_NotificationSettings .NotificationSettings_tablerows:first-child span {
    font-weight: bold;
}

.AccountMangement-formView .paymentdls {
    padding-bottom: 50px;
}

.AccountMangement-formView .Notification-Settings h3.h3-header {
    border-bottom: 1px solid #d4d6de;
}

.AccountMangement-formView h2.h2-header em {
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    margin: 0 10px 0 0;
    position: relative;
    top: -3px;
}

.input {
    border-radius: 2px;
    background-color: #fef4f3;
    border: solid 0.5px #e81e0c;
}

.has-error input {
    background-color: #fef4f3 !important;
}


.has-error select {
    background-color: #fef4f3 !important;
}

.has-error div select.form-control {
    border: solid 0.5px #fb4016 !important;
}

.has-error label {
    color: #e81e0c !important;
}

.has-success input.form-control select.form-control {
    border: solid 0.5px #3c763d !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

input:focus + .control-label {
    border: solid 0.5px #33bbf7 !important;
    color: #33bbf7 !important;
}

/* TripCenter Info, Warning, Error messages */
.TC_info {
    background-color: #e7f3f9;
    border: 1px solid #c7e4f1;
    border-radius: 2px;
    position: relative;
    padding: 10px 10px 10px 30px;
    color: #303133;
    text-align: left;
    font-size: 12px;
    margin-bottom: 20px;
}

    .TC_info i {
        width: 16px;
        height: 16px;
        left: 8px;
        top: 10px;
        position: absolute;
        background: transparent url('/images/ic_info.png') center center no-repeat;
    }


/* Tripcenter Actions */

.TC_actions {
    clear: both;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #d4d6de;
    margin-top: 30px;
}

    .TC_actions .innerContainer {
        width: 980px;
        margin: auto;
    }

    .TC_actions .actBtn {
        border: 0;
        padding: 10px 20px;
        border-radius: 3px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 2px;
    }

    .TC_actions .btn-procced {
        background-image: linear-gradient(to bottom, #01ad5d, #029952);
        border: solid 0.5px #029a53;
        color: #FFF;
    }

    .TC_actions .btn-TCDefault, .TC_actions .btn-edit {
        background-image: linear-gradient(to bottom, #128ec2, #11759f);
        border: solid 0.5px #128ec2;
        color: #FFF;
    }


    .TC_actions .btn-cancel {
        background-image: linear-gradient(to bottom, #f0f1f5, #ebecf0);
        border: solid 0.5px #ced1d9;
        color: #5c5d61;
        border-radius: 2px;
        text-shadow: 0 0.5px 0 #ffffff;
    }

    .TC_actions .aLink {
        font-size: 12px;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
        color: #5c5d61;
        text-shadow: 0 0.5px 0 #ffffff;
        display: inline-block;
        float: left;
        text-decoration: none;
    }

        .TC_actions .aLink:hover {
            color: #128ec2;
        }

.topActions {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: auto;
    border: 0;
    margin: 0;
    padding: 0;
}
/* Contact Detaisls */
.TC_contact {
    margin: 20px 0;
    display: flex;
}

.TC_email, .TC_phone {
    width: 40%;
}

    .TC_email a, .TC_phone a, .TC_separate label {
        margin-top: 10px;
        text-align: center;
        color: #303133;
        font-size: 14px;
        display: block;
    }

.TC_separate {
    width: 10%;
}

    .TC_separate label {
        font-size: 12px;
        font-weight: normal;
        color: #b2b4bb;
    }

    .TC_separate div.line {
        width: 1px;
        height: 20px;
        margin: 20px auto;
        background-color: #ced1d9;
    }

.frmControlsDisabled input, .eleDisable input,
.frmControlsDisabled select, .eleDisable select {
    background: #edeff5 !important;
    border: 1px solid #ced1d9 !important;
    pointer-events: none;
    color: #303133;
    box-shadow: none;
}

.frmControlsDisabled .form-group label,
.eleDisable label {
    position: absolute;
    top: 6px;
    left: 12px;
    right: 0;
    font-size: 11px !important;
    color: #5c5d61 !important;
    font-weight: 500 !important;
}

div.focused label {
    transition: 0.5s ease;
    top: 6px;
    left: 15px;
    font-size: 11px !important;
    color: #5c5d61 !important;
}

.MenuBar {
    border-bottom: 1px solid #acaeb5;
    cursor: pointer;
    position: relative;
    height: 60px;
}

.MenuBarbtn span:first-child {
    border-left: none;
}

.MenuBarbtn:first-child span {
    border-left: none;
}

.MenuBarbtn span {
    color: #6c6d71;
    margin-bottom: 15px;
    display: block;
}

.MenuBarbtn {
    width: 20%;
    position: relative;
    float: left;
}

    .MenuBarbtn em {
        display: block;
        border: 1px solid #6c6d71;
        color: #6c6d71;
        margin: 0 0 5px 0;
        width: 20px;
        height: 20px;
    }

    .MenuBarbtn span.editLink {
        position: absolute;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        bottom: -28px;
    }

.TC_processState {
    margin-bottom: 10px;
}

.bar-1 {
    width: 1%;
}

.bar-2 {
    width: 20%;
}

.bar-3 {
    width: 40%;
}

.bar-4 {
    width: 60%;
}

.bar-5 {
    width: 80%;
}

.bar-6 {
    width: 100%;
}


.AMProcessIndoor {
    border: 1px solid #acaeb5;
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    height: auto;
}

    .AMProcessIndoor .MenuBarbtn .TC_processState,
    .AMProcessIndoor .MenuBarbtn .editLink,
    .AMProcessIndoor .progress-bar {
        display: none;
    }

    .AMProcessIndoor .MenuBarbtn {
        margin: 0;
        padding: 10px 20px;
        border-right: 1px solid #acaeb5;
        width: auto;
    }

        .AMProcessIndoor .MenuBarbtn span {
            margin-bottom: 0;
        }

        .AMProcessIndoor .MenuBarbtn.active {
            background-image: linear-gradient(to bottom, #128ec2, #11759f);
            border: solid 0.5px #128ec2;
        }

            .AMProcessIndoor .MenuBarbtn.active span {
                color: #FFF;
            }

        .AMProcessIndoor .MenuBarbtn:nth-child(5) {
            border-right: 0 !important;
        }

.onDragHover {
    background: rgba(18, 142, 194, 0.05);
}

/* Page Loader */
.pageLoader {
    position: fixed;
    z-index: 9999;
    background-color: rgba(255,255,255,0.8);
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

    .pageLoader span {
        position: absolute;
        width: 240px;
        height: 240px;
        left: 50%;
        top: 50%;
        margin-left: -170px;
        margin-top: -170px;
    }

.onDragHover {
    background: rgba(18, 142, 194, 0.05);
}

.errorValidationView ul {
    margin: 0;
    padding: 0;
}

    .errorValidationView ul li {
        display: block;
        color: #E81E0C;
        padding-left: 20px;
    }

div.popImgs {
    text-align: center;
    background-color: rgba(18, 142, 194, 0.05);
    padding: 50px;
}

    div.popImgs img {
        width: 120px;
        padding-right: 20px;
    }

        div.popImgs img:last-child {
            padding-right: 0;
        }

span.emailAlreadyExist {
    display: block;
}

    span.emailAlreadyExist i::before {
        content: "i";
        font-weight: bold;
        display: inline-block;
        padding-right: 5px;
    }

body.AMProcessOutdoor {
    background-color: #edeff5;
    overflow: hidden;
}

    body.AMProcessOutdoor .contentContainer {
        margin: 0;
        padding: 0;
    }

    body.AMProcessOutdoor .leftMenuContainer,
    body.AMProcessOutdoor .topContainer {
        display: none;
    }

    body.AMProcessOutdoor .steps {
        background-color: #FFF;
        border: solid 0.5px #bcbfc6;
        max-height: 500px;
        overflow-y: auto;
        padding-bottom: 20px;
    }

/* Please keep it as last */
[hidden] {
    display: none !important;
}
